<h1 style="text-align: center;">EMPLOYMENT AGREEMENT</h1>

_This agreement lays down the terms of employment, agreed upon by the employer and employee. Whether stated explicitly
in the agreement or not, both the employee and the employer have the duty of mutual confidence and trust, and to make
only lawful and reasonable demands on each other._

---

This **EMPLOYMENT AGREEMENT** (Hereinafter, the “Agreement”) is entered into on this **{{ day }}** day of **{{ month
}}**, **{{ year }}**,

<h4 style="text-align: center;">BY AND BETWEEN</h4>

**{{ company_name }}**, a private limited company incorporated under the Companies Act, 1956, having its registered
office at **{{ company_address }}** (hereinafter referred to as the “Company” or “Employer”, which expression shall,
unless repugnant to the meaning or context hereof, be deemed to include all permitted successors and assigns),

<h4 style="text-align: center;">AND</h4>

**{{ employee_name }}**, son/daughter/wife of **{{ parent_spouse_name }}**, aged **{{ employee_age }}** years and
residing at **{{ employee_address }}** (hereinafter referred to as the "Employee", which expression shall, unless
repugnant to the meaning or context hereof, be deemed to include all permitted successors and assigns).

**WHEREAS,** the parties hereto desire to enter into this Agreement to define and set forth the terms and conditions of
the employment of the Employee by the Company;

**NOW, THEREFORE,** in consideration of the mutual covenants and agreements set forth below, it is hereby covenanted and
agreed by the Company and the Employee as follows:


<b>1. Interpretation</b>

In this agreement the following terms shall have the following meanings:

<table border=0 cellspacing=0 cellpadding=0 style="width:100%">
  <tr>
    <td width=400 valign=top style="width:30%"><b>a) “Confidential Information”</b></td>
    <td width=351 valign=top>any trade secret or other information which is confidential or commercially sensitive and
      which is not
      in the
      public domain (other than through the wrongful disclosure by the Employee) and which belongs to any Group
      Company (whether stored or recorded in documentary or electronic form) and which (without limitation) relates to
      the business methods, management systems, marketing plans, strategic plans, finances, new or maturing business
      opportunities, marketing activities, processes, inventions, designs or similar of any Group Company, or to which
      any Group Company owes a duty of confidentiality to any third party and including in particular \[*insert
      specific named items of Confidential Information*\]; </td>
  </tr>
  <tr>
    <td width=400 valign=top><b>b) “The Employment”</b></td>
    <td width=351 valign=top>the employment of the Employee by the Company in accordance with the terms of this
      agreement;</td>
  </tr>
  <tr>
    <td width=400 valign=top><b>c) “Group Company”</b></td>
    <td width=351 valign=top> the Company, any company of which it is a Subsidiary (being a holding company of the
      Company) and any
      Subsidiaries of the Company or any holding company, from time to time;</td>
  </tr>
  <tr>
    <td width=400 valign=top><b>d) “Subsidiary”</b></td>
    <td width=351 valign=top>a company as defined in section 1159 of the Companies Act 2006;</td>
  </tr>
  <tr>
    <td width=400 valign=top><b>e) “Termination Date”</b></td>
    <td width=351 valign=top>the date on which the Employment ceases.</td>
</table>

<b>2. Position</b>

a. Upon execution of this Agreement, the employee would be posted as the <b>{{ employee_position }}</b> of the
Company.

b. During the term period of this Agreement, the Company may change the employee's above mentioned post (or position)
or location based on the Company's production, operation or working requirements or according to the employee's
working capacities and performance, including but not limited to adjustments made to the employee's job description or
work place, promotion, work transfer at the same level, and demotion, etc., or adjustments made to the employee's
responsibilities without any change to employee's post (or position).

<b>3. Term and Probation Period</b>

a. It is understood and agreed that the first **{{ probation_period_days }}** ({{ probation_period_text }}) days of
employment shall constitute a probationary period (“**Probationary Period**”) during which period the Employer may, in
its absolute discretion, terminate the Employee's employment, without assigning any reasons and without notice or
cause.

b. After the end of the Probationary Period, the Employer may decide to confirm the Employment of the Employee, in its
sole discretion.

c. After the end of the Probationary Period, this Agreement may be terminated in accordance with Clause 12 of this
Agreement.

<b>4. Performance of Duties</b>

a. The Employee agrees that during the Employment Period, he/she shall devote his/her full business time to the
business affairs of the Company and shall perform the duties assigned to him/her faithfully and efficiently, and shall
endeavor, to the best of his/her abilities to achieve the goals and adhere to the parameters set by the Company.

b. The Employee shall be responsible for:

· {{ employee_responsibilities }}

<b>5. Compensation</b>

Subject to the following provisions of this Agreement, during the Employment Period, the Employee shall be compensated
for his services as follows:

a. The Employee shall receive anannual salary, payable in monthly or more frequent installments, as per the
convenience of the Employer, an amount of **{{ salary_amount }}** per annum/ month, subject to such increases from
time to time, as determined by the Employer. Such payments shall be subject to such normal statutory deductions by the
Employer.

b. During the term of this Agreement, the Employee's salary shall be paid by means of bank transfer, cheque, or any
other method convenient to the Employer, and consented to by the Employee.

c. All reasonable expenses arising out of employment shall be reimbursed assuming that the same have been authorized
prior to being incurred and with the provision of appropriate receipts.

<b>6. Obligations of the Employee</b>

a. Upon execution of agreement, the Employee shall not engage in any sort of theft, fraud, misrepresentation or any
other illegal act neither in the employment space nor outside the premise of employment. If he/she shall do so, the
Company shall not be liable for such an act done at his own risk.

b. The Employee further promises to never engage in any theft of the Employer’s property or attempt to defraud the
Employer in any manner.

c. The Employee shall always ensure that his/her conduct is in accordance with all the rules, regulations and policies
of the Company as notified from time to time.

d. The Employee shall not take up part-time or full-time employment or consultation with any other party or be
involved in any other business during the term of his/her employment with the Company.

e. The Employee shall always ensure that his/her conduct is in accordance with all the rules, regulations and policies
of the Company as notified from time to time, including but not limited to Leave Policy and Sexual Harassment Policy.

f. TheEmployer hereby prohibits the Employee from engaging in any sexual harassment and the Employee promises to
refrain from any form of sexual harassment during the course of employment in and around the premise of employment. If
the Employee violates this term in the agreement, he shall be fully responsible for his/her actions and the Employer
shall not be held responsible for any illegal acts committed at the discretion of the Employee.

<b>7. Leave Policy</b>

a. The Employee is entitled to **{{ casual_leave_days }}** days of paid casual leaves in a year and **{{
sick_leave_days }}** days of sick leave. In addition, the Employee will be entitled to **{{ public_holidays }}**
public holidays mentioned under the Leave Policy of the Employer.

b. The Employee may not carry forward or encash any holiday to the next holiday year.

c. In the event that the Employee is absent from work due to sickness or injury, he/she will follow the Leave Policy
and inform the designated person as soon as possible and will provide regular updates as to his/her recovery and as
far as practicable will inform the designated person of the Employer of his/her expected date of return to work.

d. If the Employee is absent from work due to sickness or injury for more than three consecutive days he/she must
submit to the Employer a self-certification form. If such absence lasts for more than seven consecutive days the
Employee must obtain a medical certificate from his/her doctor and submit it to the employer.

e. For any period of absence due to sickness or injury the Employee will be paid statutory sick pay only, provided
that he satisfies the relevant requirements. The Employee’s qualifying days for statutory sick pay purposes are Monday
to Friday.

<b>8. Assignment</b>

a. The Employee acknowledges that any work including without limitation inventions, designs, ideas, concepts,
drawings, working notes, artistic works that the Employee may individually or jointly conceive or develop during the
term of Employment are “works made for hire” and to the fullest extent permitted by law, Employee shall assign, and
does hereby assign, to the Employer all of Employee's right, title and interest in and to all Intellectual Property
improved, developed, discovered or written in such works.

b. Employee shall, upon request of the Employer, execute, acknowledge, deliver and file any and all documents
necessary or useful to vest in the Employer all of Employee's right, title and interest in and to all such matters.

<b>9. Competing Businesses</b>

During the Term of this Agreement and for a period of one (1) year after the termination of this Agreement, the
Employee agrees not to engage in any employment, consulting, or other activity involving **{{
competing_business_restriction_period }}** that competes with the business, proposed business or business interests of
the Employer, without the Employer’s prior written consent.

<b>10. Confidentiality</b>

a. The Employee acknowledges that, in the course of performing and fulfilling his duties hereunder, he may have access
to and be entrusted with confidential information concerning the present and contemplated financial status and
activities of the Employer, the disclosure of any of which confidential information to the competitors of the Employer
would be highly detrimental to the interests of the Employer.

b. The Employee further acknowledges and agrees that the right to maintain the confidentiality of trade secrets,
source code, website information, business plans or client information or other confidential or proprietary
information, for the purpose of enabling the other party such information constitutes a proprietary right which the
Employer is entitled to protect.

c. Accordingly, the Employee covenants and agrees with the Employer that he will not, under any circumstance during
the continuance of this agreement, disclose any such confidential information to any person, firm or corporation, nor
shall he use the same, except as required in the normal course of his engagement hereunder, and even after the
termination of employment, he shall not disclose or make use of the same or cause any of confidential information to
be disclosed in any manner.

d. The Employer owns any intellectual property created by the Employee during the course of the employment, or in
relation to a certain field, and he shall thereon have all the necessary rights to retain it. After termination of
employment, Employee shall not impose any rights on the intellectual property created. Any source code, software or
other intellectual property developed, including but not limited to website design or functionalitythat was created by
the employee, during the course of employment under this Agreement, shall belong to the Employer.

<b>11. Remedies</b>

If at any time the Employee violates to a material extent any of the covenants or agreements set forth in paragraphs 6
and 9, the Company shall have the right to terminate all of its obligations to make further payments under this
Agreement. The Employee acknowledges that the Company would be irreparably injured by a violation of paragraph 6 or 9
and agrees that the Company shall be entitled to an injunction restraining the Employee from any actual or threatened
breach of paragraph 6 or 9 or to any other appropriate equitable remedy without any bond or other security being
required.

<b>12. Amendment and Termination</b>

a. In case the Employer terminates the employment without just cause, in which case the Employer shall provide the
Employee with advance notice of termination or compensation in lieu of notice equal to **{{ termination_notice_period
}}** month(s).

b. The Employee may terminate his employment at any time by providing the Employer with at least **{{
resignation_notice_period }}** month(s) advance notice of his intention to resign.

c. The Employee may terminate on the last day of the month in which the date of the Employee’s death occurs; or the
date on which the Company gives notice to the Employee if such termination is for Cause or Disability.

d. For purposes of this Agreement, "Cause" means the Employee's gross misconduct resulting in material damage to the
Company, wilful insubordination or disobedience, theft, fraud or dishonesty, wilful damage or loss of Employer’s
property, bribery and habitual lateness or absence, or any other willful and material breach of this Agreement.

<b>13. Restrictive Covenant</b>

Following the termination of employment of the Employee by the Employer, with or without cause, or the voluntary
withdrawal by the Employee from the Employer, the Employee shall, for a period of three years following the said
termination or voluntary withdrawal, refrain from either directly or indirectly soliciting or attempting to solicit
the business of any client or customer of the Employer for his own benefit or that of any third person or
organization, and shall refrain from either directly or indirectly attempting to obtain the withdrawal from the
employment by the Employer of any other Employee of the Employer having regard to the same geographic and temporal
restrictions. The Employee shall not directly or indirectly divulge any financial information relating to the Employer
or any of its affiliates or clients to any person whatsoever.

<b>14. Notices</b>

a. Any notice required to be given hereunder shall be deemed to have been properly given if delivered personally or
sent by pre-paid registered mail as follows:

· To the Employee: \_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_

· To the Employer: \_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_

b. And if sent by registered mail shall be deemed to have been received on the 4th business day of uninterrupted
postal service following the date of mailing. Either party may change its address for notice at any time, by giving
notice in writing to the other party pursuant to the provisions of this agreement.

<b>15. Non-Assignment</b>

The interests of the Employee under this Agreement are not subject to the claims of his creditors and may not be
voluntarily or involuntarily assigned, alienated or encumbered.

<b>16. Successors</b>

This agreement shall be assigned by the Employer to any successor employer and be binding upon the successor employer.
The Employer shall ensure that the successor employer shall continue the provisions of this agreement as if it were
the original party of the first part.

<b>17. Indemnification</b>

The Employee shall indemnify the employer against any and all expenses, including amounts paid upon judgments, counsel
fees, environmental penalties and fines, and amounts paid in settlement (before or after suit is commenced), incurred
by the employer in connection with his/her defense or settlement of any claim, action, suit or proceeding in which
he/she is made a party or which may be asserted against his/her by reason of his/her employment or the performance of
duties in this Agreement. Such indemnification shall be in addition to any other rights to which those indemnified may
be entitled under any law, by-law, agreement, or otherwise.

<b>18. Modification</b>

Any modification of this Agreement or additional obligation assumed by either party in connection with this Agreement
shall be binding only if evidenced in writing signed by each party or an authorized representative of each party.

<b>19. Severability</b>

Each paragraph of this agreement shall be and remain separate from and independent of and severable from all and any
other paragraphs herein except where otherwise indicated by the context of the agreement. The decision or declaration
that one or more of the paragraphs are null and void shall have no effect on the remaining paragraphs of this
agreement.

<b>20. Paragraph headings</b>

The titles to the paragraphs of this Agreement are solely for the convenience of the parties and shall not be used to
explain, modify, simplify, or aid in the interpretation of the provisions of this Agreement.

<b>21. Applicable Law and Jurisdiction</b>

This Agreement shall be governed by and construed in accordance with the laws of **{{ governing_law }}**, **{{
jurisdiction }}**. Each party hereby irrevocably submits to the exclusive jurisdiction of the courts of **{{
governing_law }}**, **{{ jurisdiction }}**, for the adjudication of any dispute hereunder or in connection herewith.

<b>22. Counterparts</b>

The Agreement may be executed in two or more counterparts, any one of which shall be deemed the original without
reference to the others.


**IN WITNESS WHEREOF**, the Employee has hereunto set his hand, and the Company has caused these presents to be executed
in its name and on its behalf, all as of the day and year first above written.

<table border="0">
  <tr>
    <td><br><br>
      ____________________________<br>
      <b>(Employee)</b><br><br>
      Name: {{ employee_name }}<br>
      Designation: {{ employee_designation }}
    </td>
    <td><br><br>
      ____________________________<br>
      <b>(The Employer)</b><br>
      Represented By:<br><br><br><br>
    </td>
  </tr>
</table>